.ordersSection {
  min-width: 100%;
  align-self: center;
  justify-self: center;
}

.error__caption {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-wrap: balance;
}

.error__message {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-wrap: balance;
  font-size: 20px;
}

.orders {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 20px;
  padding: auto;
  height: fit-content;
}
