.productsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 80%;
  max-width: 100%;
}

.products {
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  padding: auto;
  height: fit-content;
  margin-bottom: 15px;
}

.modal__caption {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-wrap: balance;
}

.error__message {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-wrap: balance;
  font-size: 20px;
}

.createContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border: 3px dashed gray;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px;
  img {
    height: 75px;
  }
}

.createContainer:hover {
  cursor: pointer;
  scale: 102%;
}
