header {
  max-width: 100%;
  min-width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  height: 100px;
  width: 70%;
}

.navigationItem {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  p {
    font-size: 20px;
  }
}

.navigationItem:hover {
  opacity: 0.4;
}

.navigationItem--active {
  pointer-events: none;
  cursor: default;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  opacity: 0.4;
  p {
    font-size: 20px;
  }
}

.navigationItem__icon {
  height: 100%;
}

.navigationItem__text {
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
}

.shopTitle {
  color: red;
  transition: 1s ease-out;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
}
